[Unit]
Description=CraveCart Gunicorn API Server
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cravecart-backend
EnvironmentFile=/home/ubuntu/cravecart-backend/.env
ExecStart=/home/ubuntu/.genv/bin/gunicorn config.wsgi:application --config gunicorn.conf.py
Restart=on-failure
RestartSec=5s
KillMode=mixed
TimeoutStopSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
